# yaml-language-server: $schema=https://aka.ms/winget-manifest.locale.1.6.0.schema.json
PackageIdentifier: aprendomx.Splitstream
PackageVersion: {{VERSION_SIN_V}}
PackageLocale: es-MX
Publisher: aprendomx
PackageName: Splitstream
ShortDescription: Retransmite una señal RTMP de OBS a varias plataformas a la vez, desde tu propio equipo.
ManifestType: locale
ManifestVersion: 1.6.0
