# yaml-language-server: $schema=https://aka.ms/winget-manifest.defaultLocale.1.6.0.schema.json
PackageIdentifier: aprendomx.Splitstream
PackageVersion: {{VERSION_SIN_V}}
PackageLocale: en-US
Publisher: aprendomx
PublisherUrl: https://github.com/aprendomx
PublisherSupportUrl: https://github.com/aprendomx/splitstream/issues
PackageName: Splitstream
PackageUrl: https://github.com/aprendomx/splitstream
License: MIT
LicenseUrl: https://github.com/aprendomx/splitstream/blob/main/LICENSE
ShortDescription: Relay one OBS RTMP stream to several platforms at once, from your own machine.
Tags:
  - obs
  - rtmp
  - streaming
  - twitch
  - youtube
ManifestType: defaultLocale
ManifestVersion: 1.6.0
